@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 105vh;
    width: 99vw;
}

.intro{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://fpdl.in/uploads/20230624212440_[fpdl.in]_purple-fluid-background-free-vector_654626-11_large.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
.intro_input{
    height: 53%;
    width: 21%;
    display: flex;
    padding: 1%;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    filter: opacity(0.5);
    filter: drop-shadow(12px 12px 12px black);
}
.logo{
    height: 30%;
    margin-top: 12px;
}
.l{
    height: 47%;
    width: 108%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 56px;
    background-color: transparent;
}
.s1{
    height: 32%;
    margin-top: 4px;
    width: 79%;
    background-color: #3F0071;
    border-radius: 3%;
    color: white;
    font-weight: 500;
    opacity: 57%;
    margin: 6% 0 0 16%;
    letter-spacing: 2px;
}

.front{
    height: 100%;
    width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap:nowrap;
background: linear-gradient(to top, #4e19ae, #540051);
}
.today{
    display: flex;
    flex-direction: row;
    height: 103vh;
    width: 25vw;
    padding: 1%;
    border: 2px solid white;
    border-radius: 5px;
flex-wrap: wrap;
color: white;
opacity:75%
}
.week{
    height: 100vh;
    width: 73vw;
    display: flex;
    flex-direction: row;
    font-family: 'Ubuntu', sans-serif;
    padding: 2%;
    flex-wrap: wrap;
    color: white;
}
.highlights{
height:60vh;
width: 70vw;
margin-top: 17px;
}
.wsummary{
display:flex;
flex-direction: row;
height: 29vh;
width: 70vw; 
justify-content: space-around;   
align-items: center;
border: 1px solid white;
border-radius: 5px;
margin-bottom: 2px;
flex-wrap: wrap;
}
.w{
    height: 72%;
    width: 12%;
border-radius: 5px;
border: 1px solid white;
border-radius: 5px;
padding: 1px;

}
.high{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vh;
    width: 70vw;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 5px;
    flex-wrap: wrap;
}
.data{
     margin-left: 28px;
    margin-top: 12px;
    
}
.h{
    height: 43%;
    width: 30%;
    border-radius: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
color: black;
}
.inloc{
    width: 100%;
    height: 5%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 6px 0px 2px 16px;
    text-transform: uppercase;
color: white;
}
.b1{
border: none;
}
.tempe{
    font-size: 66px;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
}
.wimage{
    height: 160px;
    width: fit-content;
    margin-top: 40%;
    filter: contrast(0.5);
    margin-bottom: -36px;
}
.h{
    background-repeat: no-repeat;
    background-size:cover;
    filter: drop-shadow();
    padding: 3%;
    background: linear-gradient(to top,#FFF5FF,#FFE5FF);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    font-size: 23px;
    font-weight: 900;
    letter-spacing: 2px;
    filter: opacity(0.5);
}
.hi11{
    height: 65%;
    display: block;
    padding: 0px 0px 0px 14px;
    margin-top: 17px;
}

.hi22{
    height: 65%;
    margin-right: 28px;
}
.weekimg{
    opacity: 60%;
}
.locimage{
height: 35%;
margin-left: -29px;
}